<div class="footer">
<img src=".\assets\footer_book3.jpg" alt="">
<div></div>
<div class="cord">
        <p><i class="fa fa-phone" aria-hidden="true"></i> 24923967</p><br>
        <p><i class="fa fa-envelope" aria-hidden="true"></i>uniLivres&#64;univ.com</p><br>
        <p><i class="fa fa-home" aria-hidden="true"></i>Sfax,Tunis</p><br>
</div>
<div class="social">   
    <p href="https://www.facebook.com/slimen.aya.54/"><i class="fab fa-facebook-f" aria-hidden="true"></i> UniLiv</p><br>
    <p><i class="fab fa-linkedin" aria-hidden="true"></i>UniLiv</p><br>
    <p><i class="fab fa-instagram" aria-hidden="true"></i>UniLiv</p><br>
</div>
</div>