<div class="about">
    <div class="about_image">
        <img src=".\assets\about_book.jpg" alt="">
    </div>
    <div class="about_text">
        <h1> UniLivres :Explorez, Achetez, Lisez</h1>
        <h2>Découvrez un univers littéraire où chaque page réserve <br> une nouvelle aventure!</h2>
        <h3> Sur notre site, vous pouvez vendre vos trésors de lecture bien-aimés, parcourir une vaste sélection de livres pour enrichir votre bibliothèque personnelle, ou encore télécharger votre livre préféré au format PDF pour l'emporter avec vous où que vous alliez. Plongez dans une expérience de lecture sans limites, où l'imagination n'a pour seule frontière que les pages de nos livres.
        </h3>
    </div>
</div>