.about{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    margin-top: 0;
}

.about_text {
    margin-top: 5%;
    margin-left: -8%;
}
h1{
    color: #cf9f88;
}
h2,h3{
    color :#66454d;
}
img {
    height: 100%;
}