<div class="service">
    <h1 class="titre">Exploration littéraire: Achat, Téléchargement, Vente ou Faire un don!</h1>
    <div class="options">
    <div class="sJ">
        <h1>Achat</h1>
        <h4>Bienvenue dans notre marché enchanté de la littérature, où chaque coin regorge de trésors et chaque livre offre un voyage unique à travers les mots et les émotions.<br><br></h4>
        <button routerLink="/achats">Explorer</button>
    </div>
    <div class="sJ">
        <h1>Téléchargement</h1>
        <h4>Sélectionnez avec soin votre prochain trésor littéraire et téléchargez-le en toute liberté, pour une immersion sans pareille dans un monde de connaissances et d'émerveillement.<br>
        </h4>
        <button routerLink="/telecharger">Explorer</button>
    </div>
    <div class="sJ">
        <h1>Vente</h1>
        <h4>Offrez une nouvelle vie à vos précieux ouvrages en les proposant à d'autres passionnés, ou bien faites un geste généreux en les offrant en donation, permettant ainsi à d'autres de savourer ces récits captivants. </h4>
        <button>Explorer</button>
    </div>
</div>
</div>
<router-outlet></router-outlet>