<div class="signup-container">
    <h2>S'inscrire</h2>
    <form action="/login">
        <label for="nom d'utilisateur">Nom d'utilisateur</label>
        <input type="text" id="nom d'utilisateur" placeholder="Nom d'utilisateur ..">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="email ..">
        <label for="Numéro de téléphone">Numéro de téléphone</label>
        <input type="text" id="Numéro de téléphone" placeholder="Numéro de téléphone ..">
        <label for="mdp">Mot de passe</label>
        <input type="password" id="mdp" placeholder="Mot de passe ..">
        <button>S'inscrire</button>
    </form>
    <p>Vous avez un compte? <a href="#" class="register-link">Se connecter</a></p>
</div>